.venv
venv
.env
.vscode
.DS_Store
*/.DS_Store
*/.ipynb_checkpoints
*.out
locals
repos/*
data/*
*/joblib/*
*/*/joblib/*
*/*/*/joblib/*
*/*/*/*/joblib/*
*/*/*/*/*/joblib/*
*/*/*/*/*/*/joblib/*
__pycache__/*
*/__pycache__/*
*/*/__pycache__/*
*/*/*/__pycache__/*
*/*/*/*/__pycache__/*
*/*/*/*/*/__pycache__/*
*/*/*/*/*/*/__pycache__/*
*.code-workspace