torch==2.6.0
numpy==1.26.4
tensorflow==2.18.0
scikit-learn==1.6.1
matplotlib==3.5.2
torchvision==0.21.0
polars==1.24.0
gcsfs==2025.3.0
prefect==3.2.15
tqdm==4.67.1
pandas==2.2.3
imbalanced-learn==0.13.0